/* Empty. Add your own CSS if you like */

/*#map {
    height: 100%;
    width: 100%;
}
*/
/*#mapid { height: 300px; }*/

.button-container {
	width: 90%;
	margin-left: 5%;
	/*color: #fff;*/
}

#response {
	text-align: center;
}