<ion-view view-title="Drone">
  <ion-content class="">

    <div id="map" data-tap-disabled="true"></div>

    <button class="button button-block icon-right ion-play" ng-click="getInfo()">Getinfo</button>


    <div class="list">
      <div class="item">
        <h2 class="location">Location: {{data.observation_location.city}}</h2>
        <br>
        <h2 class="longitude">Longitude: {{long}}</h2>
        <h2 class="latitude">Latitude: {{lat}}</h2>
      </div>
      <div class="item">
        <h2 class="weather">Weather: {{data.weather}}</h2>
        <!-- picture -->
      </div>
      <div class="item">
        <h2 class="temperature">Temperature: {{data.temperature_string}}</h2>
      </div>
      <div class="item">
        <h2 class="">Wind direction: {{data.wind_dir}}</h2>
        <h2 class="">Wind degrees: {{data.wind_degrees}}</h2>
        <h2 class="">Wind mph: {{data.wind_mph}}</h2>
        <h2 class="">Wind gust mph: {{data.wind_gust_mph}}</h2>
        <!-- gust -->
        <!-- wind_mph -->
        <!-- wind_gust_mph -->
      </div>



<!--       // weather
    // temperature_string
    // relative_humidity
    // wind_string
    // wind_mph
    // wind_gust_mph
    // observation_location.full -->
    </div>

  </ion-content>
</ion-view>
