<ion-view view-title="Drone">
  <ion-content class="">

    <div id="map" data-tap-disabled="true"></div>

    
    <div class="list">
      <div class="item item-divider">
        Your Drone Specs
      </div>
      <label class="item item-input item-stacked-label">
      <span class="input-label">Weight</span>
      <input type="text" placeholder="Placeholder 1">
      </label>

      <label class="item item-input item-stacked-label">
      <span class="input-label">Motor Speed</span>
      <input type="text" placeholder="Placeholder 2">
      </label>

      
    </div>

    <div class="list" ng-show="showInfo">
      <div class="item item-divider">
        Conditions
      </div>
      <div class="item">
        <h2 class="location">Location: {{data.observation_location.city}}</h2>
        <br>
        <h2 class="longitude">Longitude: {{long}}</h2>
        <h2 class="latitude">Latitude: {{lat}}</h2>
      </div>
      <div class="item">
        <h2 class="weather">Weather: {{data.weather}}</h2>
        <!-- picture -->
      </div>
      <div class="item">
        <h2 class="temperature">Temperature: {{data.temperature_string}}</h2>
        <h2 class="humidity">Humidity: {{data.relative_humidity}}</h2>

      </div>
      <!-- div class="item item-divider">
        Wind
      </div> -->
      <div class="item">
        <h2 class="">Wind Direction: {{data.wind_dir}}</h2>
        <h2 class="">Wind Degrees: {{data.wind_degrees}}°</h2>
        <h2 class="">Wind Mph: {{data.wind_mph}}</h2>
        <h2 class="">Wind Gust mph: {{data.wind_gust_mph}}</h2>
      </div>


<!--       // weather
    // temperature_string
    // relative_humidity
    // wind_string
    // wind_mph
    // wind_gust_mph
    // observation_location.full -->
      <div class="item item-divider">
        Launch Status
      </div>
      <div class="item">
        <h2 class="">{{launchStatus}}</h2>
      </div>
    </div>

    <button class="button button-block icon-right ion-play" ng-click="calculateLaunchStatus()">Calculate Launch Status</button>

    

     <!-- <button class="button button-block icon-right ion-play" ng-click="calculateStatus()">Calculate Status</button> -->

  </ion-content>
</ion-view>
