<ion-view view-title="Drone">
<ion-nav-bar class="bar-positive">
    <ion-nav-buttons side="right">
       <button class="button button-clear icon-left ion-ios-gear" ng-click="coordinateChange()"></button>
       <!-- <i class="ion-ios-gear" ng-click="coordinateChange()"></i> -->
    </ion-nav-buttons>
  </ion-nav-bar>


  <ion-content class="">

    <!-- <div id="map" data-tap-disabled="true"></div> -->

    <div class="list">
      <label class="item item-input item-select">
        <div class="input-label">
          Your Drone
        </div>
        <select ng-model="myDrone" ng-change="selectedDrone(myDrone)">
          <option>DJI Phantom 4</option>
          <option>AEE Toruk AP10</option>
          <option>Flypro XEagle Sport</option>
          <option>Autel Robotics X-Star Premium</option>
          <option>ProDrone Byrd Premium</option>
          <option>I have a different drone</option>
          <option>Check conditions without drone</option>
        </select>
      </label>

      <div class="" ng-show="showOtherDroneForm">
      <div class="item item-divider">
        Your Unique Drone Specs
      </div>

      <label class="item item-input item-stacked-label">
      <span class="input-label">Weight</span>
      <input type="number" placeholder="grams" ng-model="weight">
      </label>


      <label class="item item-input item-stacked-label">
      <span class="input-label">Motor Speed</span>
      <input type="number" placeholder="rpm" ng-model="flightTime">
      </label>

      <label class="item item-input item-stacked-label">
      <span class="input-label">Flight Time</span>
      <input type="number" placeholder="minutes" ng-model="flightTime">
      </label>

      <label class="item item-input item-stacked-label">
      <span class="input-label">Operating Range</span>
      <input type="number" placeholder="meters" ng-model="operatingRange">
      </label>
      </div>


      <div class="" ng-show="showInfo">

        <div class="item item-divider">
          Conditions
        </div>
        <div class="item">
          <div class="background background-drone"></div>
          <div class="locationTitle">{{data.observation_location.city}} </div>

          <!-- we should have our own icons - non-blurry ones -->
          <img class="iconImg" src={{data.icon_url}}></img>
          <!-- <h2 class="weather">{{data.weather}}</h2> -->
          
          
          
          <!-- picture from wunderGround !!!!!!!!!!!!--> 

        </div>
        <div class="item item-icon-right">
          
          <h2 class="temperature">{{data.temp_f}}°</h2>
          <!-- <h2 class="humidity">Humidity: {{data.relative_humidity}}</h2> -->

        </div>

        <div class="item">
          <!-- <h2 class="">Wind: {{data.wind_string}}</h2> -->
          <h2 class="">{{data.wind_mph}}mph winds from the {{data.wind_dir}} </h2>
          <!-- <h2 class="">Gusts mph: {{data.wind_gust_mph}}</h2> -->

        </div>
<!-- 
        <div class="item">
          <h2 class="">In-no fly zone: {{inFlyZoneStr}}</h2>

          <i class="icon {{flyZoneIcon}}"></i>
        </div> -->
        <div ng-show="customCoordinates">
          <div class="item item-divider">
          Set Coordinates
          </div>
          <div class="item row">
             <div class="col">
              <label class="item-input">
                <input type="number" step="any"  maxlength="5" placeholder="Latitude: {{latitudePlaceholder}}" ng-model="latitudeInput">
              </label>
          </div>
          <div class="col">
              <label class="item-input">
                <input type="number" step="any" placeholder="Longitude: {{longitudePlaceholder}}" ng-model="longitudeInput">
              </label>
            </div>
          </div>
        </div>

        <div class="item item-divider">
          Launch Status
        </div>
        <div class="item">
          <h2 class="">{{launchStatus}}</h2>
          <!-- <h2 class="">{{launchStatus2}}</h2> -->
        </div>
      </div>
    </div>

    <div class="button-container">
      <!-- <div class="background background-drone"></div> -->

      <button class="button button-block icon-right ion-play" ng-click="calculateLaunchStatus(flightTime, weight, operatingRange, latitudeInput, longitudeInput)">{{postPrefix}}Check Launch Conditions</button>
      <!-- Uncomment  following to test a function -->
<!--       <button class="button button-block icon-right ion-play" ng-click="testFunction(flightTime, weight, operatingRange)">Test Function</button> -->
    </div>



    <!-- augment to clean style -->
  </ion-content>
</ion-view>


<!-- TO DO LIST -->
<!-- make pretty! -->
        <!-- picture from wunderGround !!!!!!!!!!!!--> 
        <!-- good data vis techniques need to come in -->
        <!-- maybe show a circular progress/status bar based on the status with the different factors showing -->